/* Footer */
@use 'sass:map';
@import "../abstracts/colors";
@import "../abstracts/mixins";
@import "../base/typography";

@media screen and (min-width: map-get($map: $breakpoints, $key: "phone")) {
  .footer {
    grid-area: footer;
    // Makes the footer always at the bottom of the page in flexbox
    margin-top: auto;
    background-color: map-get($map: $colors, $key: "text-background");
    text-align: center;
    padding: 15px;
    font-family: $font-header;
  }
}
