/* Footer */
@use 'sass:map';
@import "../abstracts/colors";
@import "../abstracts/mixins";
@import "../base/typography";

@media screen and (min-width: map-get($map: $breakpoints, $key: "phone")) {
  .footer {
    grid-area: footer;
    margin: 0;
    background-color: map-get($map: $colors, $key: 'text-background');
    text-align: center;
    padding: 15px;
    max-height: 20px;
    font-family: $font-header;
  }
}
