@use 'sass:map';
@import "../abstracts/colors";
@import "../abstracts/mixins";
@import "../base/typography";

@media screen and (min-width: map-get($map: $breakpoints, $key: "phone")) {
  .book {
    &__li {
      display: flex;
      flex: 1;
      flex-direction: column;
      list-style: none;
      border: 3px solid lightgrey;
      background: linear-gradient(rgba(211, 211, 211, 0.1), rgba(128, 128, 128, 0.2));
    }
    &__link {
      cursor: pointer;
      display: flex;
      flex: 1;
      width: 100%;
      flex-direction: column;
      align-items: center;
      padding-top: 1rem;
      text-decoration: none;
      color: black;

      padding: 0;
      border-width: 0;

      &:hover {
        background: linear-gradient(rgba(211, 211, 211, 0.1), rgba(128, 128, 128, 0.2));
      }
    }
    &__img {
      padding-top: 1rem;
      max-width: 8em;
      max-height: 10em;
      margin-bottom: 1rem;
    }
    &__title {
      margin: 0.5rem;
      font-family: $font-title;
      font-size: 1.4rem;
      text-align: center;
    }
    &__author {
      margin: 0.5rem;
      font-family: $font-title;
      font-size: 1rem;
      text-align: center;
    }
  }
}

@media screen and (min-width: map-get($map: $breakpoints, $key: "phone-landscape")) {
  .book__img {
    max-width: 10em;
    max-height: 12em;
  }
}

@media screen and (min-width: map-get($map: $breakpoints, $key: "laptop")) {
  .book__img {
    max-width: 12em;
    max-height: 14em;
  }
}
