@use 'sass:map';
@import '../abstracts/colors';
@import '../abstracts/mixins';

// Phone
@media screen and (min-width: map-get($map: $breakpoints, $key: 'phone')) {
    .menu {
        // Hidden checkbox to toggle hamburger menu
        &__toggle {
            position: absolute;
            opacity: 0;
            width: 30px;
            height: 30px;
            z-index: 2;
        
            &:checked ~ .menu__btn > span {
                transform: rotate(45deg);

                &:before {
                    top: 0;
                    transform: rotate(0);
                }
                &:after {
                    top: 0;
                    transform: rotate(90deg);
                }
            }
            // Shows menu when checked
            &:checked ~ .menu__box {
                visibility: visible;
                right: 0;
            }
        }
        // Styles the hamburger using span
        &__btn {
            display: flex;
            align-items: center;
            position: relative;
            width: 26px;
            height: 26px;
            z-index: 1;

            > span, > span::before, > span::after {
                display: block;
                position: absolute;

                width: 100%;
                height: 3px;

                background-color: white;

                transition-duration: .25s;
            }
            // Lower bun
            > span::before {
                content: '';
                top: -8px;
            }
            // Upper bun
            > span::after {
                content: '';
                top: 8px;
            }
        }

        // Menu list

        // Styles the container
        &__box {
            display: block;
            position: fixed;
            visibility: hidden;
            top: 0;
            right: -100%;

            width: 50%;
            height: 100%;

            margin: 0;
            padding: 80px 0;

            list-style: none;

            background-color: map-get($map: $colors, $key: 'btn');
            box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);

            transition-duration: .25s;
        }

        // Styles links
        &__item {
            display: flex;
            padding-left: 1rem;
            padding-right: 1rem;
            padding-bottom: 1.4rem;
            padding-top: 1.4rem;
            
            color: white;

            font-family: 'Roboto', sans-serif;
            font-size: 20px;
            font-weight: 600;

            text-decoration: none;

            // Causes some weird transition problems
            // transition-duration: .25s;
            
            &:hover {
                background-color: map-get($map: $colors, $key: 'btn-focus2');
            }
        }
    }
}

// Laptop
@media screen and (min-width: map-get($map: $breakpoints, $key: 'laptop')) {
    // Hide hamburger
    .menu__toggle, .menu__btn {
        display: none;
    }
    // Style iPad and desktop view of header and nav
    .menu {
        &__box {
            display: flex;
            align-items: center;
            justify-content: center;
            position: relative;
            visibility: visible;
            left: 0;
            width: 100%;
            height: 100%;
            padding: 0;
            background-color: map-get($map: $colors, $key: 'clear');
            box-shadow: none;
            transition-duration: 0s;
        }
        &__item {
            font-size: 1rem;
            height: 100%;
            display: flex;
            align-items: center;
            padding-bottom: 0;
            padding-top: 0;
        }
    }
}