@use 'sass:map';
@import "../abstracts/colors";
@import "../abstracts/mixins";
@import "../base/typography";

/* Defines styles for search bar on bookshelf page */

/* Base Mobile */
@media screen and (min-width: map-get($map: $breakpoints, $key: "phone")) {
  // Styles search for bookshelf
  .search-bookshelf {
    display: flex;
    background-color: lightgrey;

    &__label {
      display: none;
    }
    &__input {
      flex: 1;
      font-size: 1rem;
      padding: 8px;
      padding-left: 45px;
      margin: 8px;
      border-radius: 8px;
      border: 2px solid lightgrey;

      // background-image: url('../../src/images/search-icon.png');
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: 10px;
    }
  }
  .search {
    &__form,
    &__input,
    &__button {
      display: none;
    }
  }
}

/* Laptop */
@media screen and (min-width: map-get($map: $breakpoints, $key: "laptop")) {
  .search-bookshelf {
    display: none;
  }
  .search {
    &__form {
      display: flex;
      align-self: center;
      justify-content: flex-end;
      padding-right: 15px;
    }
    &__input {
      display: block;
      margin-right: 10px;
      padding: 7px;
      border-radius: 5px;
      border-color: map-get($map: $colors, $key: "clear");
      font-size: 0.9rem;
      flex: 1;
      max-width: 300px;
    }
    &__button {
      display: block;
      font-weight: bold;
      color: map-get($map: $colors, $key: "header");
      background-color: map-get($map: $colors, $key: "clear");
      border-color: map-get($map: $colors, $key: "header");
      border-radius: 5px;
      border-style: solid;
      font-size: 1rem;

      &:hover {
        background-color: map-get($map: $colors, $key: "btn-focus");
      }
    }
  }
}

/* Desktop */
